.theme-toggle {
  display: flex;
  margin: auto;
  width: fit-content;
  background-color: #5d5f63;
  border-radius: 8px;

  svg {
    width: 16px;
    height: 16px;
    fill: #aaa;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &.active {
      fill: #fff;
    }
  }
}
